<template>
  <div class="q-px-sm flex flex-center">
    <q-card class="bg-primary text-white" :style="$q.screen.gt.xs ? 'width:500px' : ''">
      <q-card-section class="q-py-sm">
        <div class="row q-px-none q-py-sm">
          <q-space />
          <q-btn size="sm" icon="close" color="red" text-color="white" unelevated round dense v-close-popup />
        </div>
        {{$store.getters["Auth/users"].phone}}
        <div v-if="tab == 'wallet'" class="text-h4">Wallet History</div>
        <div v-if="tab == 'bank'" class="text-h4">Bank History</div>
      </q-card-section>
      <q-tabs v-model="tab" class="text-white" active-bg-color="secondary" indicator-color="black" active-color="black">
        <q-tab no-caps name="wallet" label="Wallet" />
        <q-tab no-caps name="bank" label="Bank" />
      </q-tabs>
      <q-tab-panels v-model="tab" animated class="text-primary">
        <q-tab-panel name="wallet" class="q-gutter-xs">

          <div>
            <div class="text-bold">Start Date</div>
            <q-input filled v-model="form.first" mask="date" :rules="['date']">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxys" transition-show="scale" transition-hide="scale">
                    <q-date v-model="form.first" @input="() => $refs.qDateProxys.hide()" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>

          <div>
            <div class="text-bold">End Date</div>
            <q-input filled v-model="form.last" mask="date" :rules="['date']">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="form.last" @input="() => $refs.qDateProxy.hide()" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>

          <div class="flex flex-center">
            <q-btn :loading="wloading" no-caps class="q-px-md" color="primary" label="View" @click="walletTran()" />
          </div>
        </q-tab-panel>

        <q-tab-panel name="bank" class="q-gutter-xs ">

          <div>
            <div class="text-bold">Start Date</div>
            <q-input filled v-model="form.first" mask="date" :rules="['date']">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxyb" transition-show="scale" transition-hide="scale">
                    <q-date v-model="form.first" @input="() => $refs.qDateProxyb.hide()" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <!-- <q-input filled v-model="form.first" mask="date" :rules="['date']">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="form.first" @input="() => $refs.qDateProxy.hide()" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input> -->
          </div>

          <div>
            <div class="text-bold">End Date</div>
            <q-input filled v-model="form.last" mask="date" :rules="['date']">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="form.last" @input="() => $refs.qDateProxy.hide()" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>

          <div class="flex flex-center">
            <q-btn :loading="loading" no-caps class="q-px-md" color="primary" label="View" @click="bankTran()" />
          </div>

        </q-tab-panel>
      </q-tab-panels>


    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      tab: 'wallet',
      wloading: false,
      loading: false,
      date: '2019/02/01',
      form: {
        first: '2020/08/01',
        last: '2020/08/08'
      }
    }
  },

  methods: {
    async walletTran(){
      this.wloading = true
      let first = this.form.first.replace(/\//g, "-");
      let last = this.form.last.replace(/\//g, "-");

      await this.$axios.get('https://branchless.world/user/fetchTran?first='+first+'&last='+last)
       .then(response => {
         console.log(response.data.data)
         this.filter(response.data.data)
      })
      .catch(error=>{
        this.wloading = false
        this.errorHandling(error)
      })
    },

    async bankTran(){
      this.loading = true
      let first = this.form.first.replace(/\//g, "-");
      let last = this.form.last.replace(/\//g, "-");
      // console.log('bankTran', "response.data.data")
      await this.$axios.get('https://branchless.world/user/fetchBankTran?first='+first+'&last='+last)
       .then(response => {
         if(response.data.data.length > 0){
           console.log('bankTran', response.data.data)
           this.filter(response.data.data, 'bankTran')
         }else{
          this.$store.commit('Auth/transaction', 'No Transactions on this Date')
          this.$router.push({name: 'transaction', params:{item: this.tab}});
         }

      })
      .catch(error=>{
        this.loading = false
        this.errorHandling(error)
      })
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
        this.$q.notify({message: error.response.data.message, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    filter(data, tranc){
      let first = this.form.first.replace(/\//g, "");
      let last = this.form.last.replace(/\//g, "");



      let thefiltered = data.map((element, index) => {
        let theindex = element.createdAt.indexOf("T")
        let date = element.createdAt.slice(0, theindex).replace(/-/g, "")

        if ((date >= first) && (date <= last)) {

          return {
            index	: index+1,
            amount: (tranc == 'bankTran')? (element.amount + element.charge)/100:element.amount/100,
            reciever: (tranc == 'bankTran')? element.account:'0'+element.reciever,
            recv_name:	(tranc == 'bankTran')? element.name:element.recv_name,
            status: element.status,
            tx_ref: (tranc == 'bankTran')? element.txRef:element.tx_ref,
            type: (tranc == 'bankTran')? element.type:(this.$store.getters["Auth/users"].phone == element.reciever ? 'Credit':'Debit' ),
            createdAt:	element.createdAt.slice(0, theindex),
            time:	element.createdAt.slice(theindex+1, 19)
          }

        }
        else{
          return 'No Transactions on this Date'
        }
      });

      let dfiltered = []
      thefiltered.forEach(e=>{ if (e != 'No Transactions on this Date' ) dfiltered.push(e) })

      this.$store.commit('Auth/transaction', dfiltered)
      this.$router.push({name: 'transaction', params:{item: this.tab}});
    },

    getToday(){
      let d = new Date();
      let day = d.getDate()
      let month = d.getMonth() + 1
      if(day.toString().length == 1){day = `0${day}`}
      if(month.toString().length == 1){month = `0${month}`}

      console.log('day', day)
      console.log('month', month)
      this.form.first = `${d.getFullYear()}/${month}/${day}`;
      this.form.last = `${d.getFullYear()}/${month}/${day}`
    }
  },

  mounted(){
    this.getToday()
  }
}
</script>
