<template>
  <div class="q-px-sm flex flex-center">
    <q-card :style="$q.screen.gt.xs ? 'width:500px' : ''" >
      <q-card-section class="bg-primary text-white q-py-none">
        <div class="row q-px-none q-py-sm">
          <q-space />
          <q-btn size="sm" icon="close" color="red" text-color="white" unelevated round dense v-close-popup />
        </div>
        <div class="text-h4">Bank Transfer</div>
        <div class="text-caption q-pb-sm">{{is_agent?'N10.75 (Inclusive of VAT)':'N32.25 (Inclusive of VAT)'}}</div>
      </q-card-section>
      <q-card-section v-if="error">
        <q-card class="bg-red text-white row">
          <q-card-section class="">
            <div class="text-caption text-center">{{errorMsg}}</div>
          </q-card-section>
        </q-card>
      </q-card-section>
      <q-card-section>
        <!-- <q-input bottom-slots v-model="form.amount" label="Your Phone" :value="user.phone" /> -->
        <q-select v-model="bank" :options="options" label="Select Bank" />
        <q-input inputmode="numeric" pattern="[0-9]*" bottom-slots debounce="1000" v-model="form.acc_no" label="Account Number" counter maxlength="10" oninput="value=value.replace(/[^\d]/g,'')" />
        <q-input bottom-slots disable v-model="form.name" label="Account Name" />
        <q-input inputmode="numeric" pattern="^\d*(\.\d{0,2})?$" bottom-slots v-model="form.amount" label="Amount" placeholder="0.00" oninput="value=value.replace(/[^\d]/g,'')" />
      </q-card-section>

      <q-card-actions align="center">
         <!-- <q-btn color="white" text-color="black" label="Standard" @click="makePayment()" /> -->
        <q-btn :loading="loading" color="primary" class="q-px-lg" rounded no-caps label="Transfer" @click="thetransfer()" />
      </q-card-actions>

       <q-dialog v-model="alert">
        <q-card square class="my-card" >
        <q-card-section class="row q-px-none q-py-xs">
          <q-space />
          <q-btn icon="cancel" color="red" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="no-padding">
          <PINtx :theref="myref" :fnc="fnc" :details="form" @close="closer($event)" />
        </q-card-section>
      </q-card>
      </q-dialog>
    </q-card>
  </div>
</template>

<script>
import PINtx from './pinTX'
export default {
  // name: 'ComponrdentName'
  components:{PINtx},
  data () {
    return {
      myref: '',
      fnc:'BankTrans',
      loading: false,
      alert: false,
      error: false,
      errorMsg: '',
      bank:'',
      form:{
        phone:'',
        acc_no:'',
        name:'',
        amount:0.00,
        bankcode:''
      }
    }
  },

  mounted(){
    this.$store.dispatch("Auth/thebanklist");
  },

  methods: {
    thetransfer(){
      // console.log(this.form);
      this.error = false
      this.loading = true
      this.form.bank = this.bank
      this.$axios.post('https://branchless.world/user/initBankTrans', this.form)
        .then(response => {
          this.myref = response.data.data.txRef;
          this.loading = false
          this.alert = true
        })
        .catch(error=>{
          this.loading = false
          this.errorHandling(error)
      })
    },
// 'Amount must be between N100 and N49999'

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        // jwt expired
        if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
        if(error.response.data.message == 'wrong amount'){
          this.error = true
          this.errorMsg = 'Amount must be between N100 and N49999'
          this.$q.notify({message: error.response.data.message, color: 'orange'})
        }else this.$q.notify({message: error.response.data.message, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },



    closer(ans){
      this.$store.dispatch("Auth/getUser");
      this.$emit('close', ans)
      this.alert = false
    },



    accountDetails(){
      this.$store.getters["Auth/banks"].forEach(element => {
        if (this.bank == element.name) {
          this.form.bankcode = element.code
          this.form.phone = this.user.phone
          if (this.form.acc_no.length == 10) {
            this.$axios
              .post('https://branchless.world/user/checkAccount', {
                account: this.form.acc_no,
                bankcode: element.code
              })
                .then(response => {
                  this.form.name = response.data.data.account_name
                })
              .catch(error=>{
                this.form.name = "Account doesn't Exist"
                this.loading = false
                this.errorHandling(error)
              })
          }
        }
      })
    },

  },

  watch: {
    'form.acc_no' : function (val, oldVal){
      this.accountDetails()
    }
  },

  computed:{
    options: function() {
      let bankname = []
      this.$store.getters["Auth/banks"].forEach(element => {
          bankname.push(element.name)
        });
      return bankname
    },

    setTwoNumberDecimal(event) {
      this.form.amount = parseFloat(this.form.amount).toFixed(2);
    },

    user: function() {
      return this.$store.getters["Auth/users"];
    },
    is_agent: function() {return this.$store.getters["Auth/is_agent"];},
  },


}
</script>
