<template>
  <div class="flex flex-center">
    <q-card flat bordered :style="$q.screen.gt.sm ? 'width:500px' : 'min-width:300px'" >
      <q-card-section class="bg-primary text-white">
        <div class="text-h4 text-center">Change Pin</div>
      </q-card-section>
      <q-card-section>
        <q-input inputmode="numeric" pattern="[0-9]*" bottom-slots oninput="value=value.replace(/[^\d]/g,'')" v-model="form.newPIN" label="New PIN" counter maxlength="6" />
        <q-input inputmode="numeric" pattern="[0-9]*" bottom-slots oninput="value=value.replace(/[^\d]/g,'')" v-model="form.confirmPIN" label="Confirm PIN" counter maxlength="6" />
        <!-- <q-input bottom-slots type="number" v-model.number="form.amount" label="Amount" placeholder="0.00" /> -->
      </q-card-section>

      <q-card-actions align="center">
        <q-btn size="sm" color="primary" class="q-px-lg" rounded no-caps label="Change PIN" @click="changePin()" />
      </q-card-actions>
    </q-card>


  </div>
</template>

<script>
export default {
  // name: 'ComponrdentName',
  data () {
    return {
      form:{
        newPIN:'',
        confirmPIN:'',
      }
    }
  },
  methods: {
    async changePin(){
      if(this.form.newPIN == this.form.confirmPIN ){
        this.$axios.post('https://branchless.world/user/changePin', {pin: this.form.newPIN })
          .then(response => {
          // console.log(response.data.message)
            this.$q.notify({message: response.data.message, color: 'green'})
            this.$router.push({name: 'dashboard'});
          })
          .catch(error=>{
            this.errorHandling(error)
          })
      }else{
        this.$q.notify({message: 'Pin Unmatched', color: 'red'})
      }
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
        this.$q.notify({message: error.response.data.message, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },
  },
}
</script>
