<template>
  <div class="">
    <q-tab-panels v-model="panel" animated class="bg-transparent">
      <q-tab-panel name="dash" class="column flex-center q-py-none">
        <!-- <q-btn color="primary" icon="check" label="OK" @click="panel = 'piggy'" /> -->
        <TxCard class="full-width" style="max-width: 450px;" @piggy="panel = $event" :colors="is_agent?['#42c92c', ' #1F6015']:['#69359c', ' #800080']"/>
<!-- {{$route}} -->

        <q-card flat class="q-my-sm bg-transparent"  >
          <q-card-section class="no-padding lt-md flex flex-center" >
            <!-- <q-card class="text-center text-bold bg-transparent cursor-pointer text-orange" flat @click="redirect()">
              <q-card-section class="q-py-xs">
                Click to Earn N40,000/Month
              </q-card-section>
            </q-card> -->
            <q-btn class="" unelevated size="sm" color="secondary" no-caps label="Click to Earn N40,000/Month" aria-label="request Debit card" type="a" href="https://bit.ly/EARN_N40000" target="__blank" />
          </q-card-section>

          <q-card-section class="row no-padding">

            <div :class="$q.screen.gt.sm ? 'q-pa-xs': 'q-py-xs'+' col-md-4 col-sm-12 col-xs-12 '" v-for="(item, index) in theCards" :key="index">
              <q-card class="row flex-center" style="min-width: 300px" @click="()=>{ alert = true; popUp = item.popUp}">
                <q-card-section class="col-md-12 col-sm-4 col-xs-4 flex flex-center q-pa-md">
                  <img :src="item.iconImg" :width="imgBig" />
                </q-card-section>
                <q-card-section class="text-center q-pt-xs col-md-12 col-xs-8 q-pa-sm">
                  <div :class="'text-bold '+bigger">{{item.title}}</div>
                  <div :class="'text-caption '+bigger">{{item.caption}}</div>
                </q-card-section>
              </q-card>
            </div>

          </q-card-section>
        </q-card>
      </q-tab-panel>

      <q-tab-panel name="piggy" class="column flex-center">
        <PiggyBoard @dash="panel = 'dash'"/>
      </q-tab-panel>

    </q-tab-panels>

    <q-dialog full-height full-width v-model="alert" :position="$q.screen.lt.md ? 'bottom': 'standard'" >
      <W2wallet v-if="popUp == 'wallet'" @close="closer($event)"/>
      <History v-if="popUp == 'history'" />
      <Transfer v-if="popUp == 'transfer'" @close="closer($event)" />
    </q-dialog>

<!-- {{details}} -->
    <q-dialog v-model="success"  v-if="details">
      <q-card flat bordered class="">
        <q-card-section>
          <div class="text-subtitle1 text-bold text-center q-pb-md">Transfer Successful</div>
          <div v-if="details.acc_no" class="text-caption"> <span class="text-bold">Account Number:</span> {{details.acc_no}}</div>
          <div v-else class="text-caption"> <span class="text-bold">Account Number:</span>  {{details.reciever}}</div>

          <div v-if="details.bank" class="text-caption"> <span class="text-bold">Account Bank:</span>  {{details.bank}}</div>
          <div class="text-caption"> <span class="text-bold">Account Name:</span>  {{details.name}}</div>
          <div class="text-caption"> <span class="text-bold">Amount:</span> ‎₦{{details.amount}}</div>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn size="sm" outline no-caps label="Close" @click="success = false"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import W2wallet from 'components/webApp/wallet2wallet'
import Transfer from 'components/webApp/bankTransfer'
import History from 'components/webApp/accountHistory'
import TxCard from 'components/common/txCard'
import piggyCard from 'components/common/piggyCard'
import piggyPlan from 'components/common/piggyPlan'
import dshTop from 'components/common/top'
import PiggyBoard from 'components/webApp/piggyBoard'
export default {
  // name: 'ComponentName',
  components:{
    TxCard, W2wallet, Transfer, History, dshTop, piggyCard, piggyPlan, PiggyBoard
  },
  data () {
    return {
      bigger: this.$q.screen.gt.sm ? 'text-h6': 'text-left',
      imgBig: this.$q.screen.lt.md ? '45':'',
      alert: false,
      success: false,
      details: null,
      popUp: null,
      panel: 'dash',
      theCards:[
        {
          iconImg: 'https://img.icons8.com/officel/100/000000/wallet.png',
          title:'Wallet to Wallet',
          caption:'Transfer to Wallet',
          popUp:'wallet'
        },
        {
          iconImg: 'https://img.icons8.com/color/100/000000/initiate-money-transfer.png',
          title:'Bank Transfer',
          caption:'Transfer to Bank',
          popUp:'transfer'
        },
        {
          iconImg: 'https://img.icons8.com/color/100/000000/payment-history.png',
          title:'Account History',
          caption:'Transaction History',
          popUp:'history'
        },
      ],

    }
  },
  methods:{
    closer(ans){
      console.log('Dans',ans)
      this.details = ans
      this.$store.dispatch("Auth/getUser");
      this.alert = false
    },
    redirect(){
      // window.location = 'https://bit.ly/EARN_N40000';
       window.open('https://bit.ly/EARN_N40000')
    }
  },
  computed: {
    is_agent: function() {return this.$store.getters["Auth/is_agent"];},
  },
  watch: {
    'details' : function (val, oldVal){
      this.$store.dispatch("Auth/getBalance");
      this.success = true
    }
  },
  // mounted() {
  //   console.log(this.$store.getters["Auth/sub_status"]);
  //   if (!this.$store.getters["Auth/sub_status"])this.$router.push({name: 'initAccount'})
  // },
}
</script>
