<template>
  <div>
    <q-card flat square class="bg-transparent">
      <q-card-section v-if="$q.screen.lt.md" class="text-center text-weight-bold text-h6 q-py-xs">
        Piggy Bank
      </q-card-section>
      <q-card-actions align="center" class="q-px-md">
        <q-btn color="purple" size="sm" no-caps label="Wallet" icon="ion-ios-arrow-back" @click="$emit('dash')" />
        <q-space />
        <div class="text-center text-weight-bold text-h6 q-py-xs gt-sm">
          Piggy Bank
        </div>
        <q-space />
        <q-btn color="purple" no-caps size="sm" icon="ion-add" label="Add" @click="()=>{ alert = true}" class="q-pr-xs" />
      </q-card-actions>
      <!-- <q-card-section class="text-center text-weight-bold text-h6 q-py-xs">
        Piggy Bank
      </q-card-section> -->
    </q-card>
    <q-tabs v-model="tab" class="text-primary">
      <q-tab no-caps name="active" label="Active" />
      <q-tab no-caps name="terminated" label="Terminated" />
    </q-tabs>
    <!-- {{savings}} -->
    <q-tab-panels flat v-model="tab" animated class="bg-transparent">
      <q-tab-panel name="active">
         <div v-if="savings.length > 0" class="row q-py-xs justify-center">
          <div v-for="(item, index) in savings" :key="index" class="q-pa-xs">
            <div :class="savings.length < 3 ? 'col-sm-6 col-xs-12 col-md-6': 'col-sm-6 col-xs-12 col-md-4'" >
              <piggyCard v-if="item.status != 'cancelled'" class="" style="max-width: 600px;" :colors="['#ff4e00', '#ec9f05']" :thePiggy="item"/>
            </div>
          </div>
        </div>
        <div v-else class="text-center">
          <div class="text-h3 text-grey">No Savings Plan Created Yet</div>
          <div class="text-caption text-grey">
              <q-btn no-caps size="sm" flat label="Want to Create a Savings Plan?" @click="()=>{ alert = true; popUp = 'piggy'}" />
          </div>
        </div>

      </q-tab-panel>
      <q-tab-panel name="terminated">
        <div v-if="terminated.length > 0" class="row q-py-xs flex-center">
          <div v-for="(item, index) in terminated" :key="index" class="q-pa-xs ">
            <div :class="'col-sm-6 col-xs-12 '+ terminated.length < 3 ? 'col-md-6': 'col-md-4'" >
              <piggyCard  class="" style="max-width: 600px;" :colors="['#FF6347', ' #800080']" :thePiggy="item"/>
            </div>
          </div>
        </div>
        <div v-else class="text-center">
          <div class="text-h3 text-grey">No Terminated Savings Plan</div>
          <div class="text-caption text-grey">
              <q-btn no-caps size="sm" flat label="Want to Terminate a Savings Plan?" :to="{name: 'settings'}" />
          </div>
        </div>

      </q-tab-panel>

    </q-tab-panels>
    <q-dialog v-model="alert" :position="$q.screen.lt.md ? 'bottom': 'standard'" >
      <piggyPlan />
    </q-dialog>
  </div>
</template>

<script>
import piggyCard from 'components/common/piggyCard'
import piggyPlan from 'components/common/piggyPlan'
export default {
  // name: 'ComponentName'
  components:{
    piggyCard, piggyPlan
  },
  data () {
    return {
      alert: false,
      tab: 'active',
      dheight: this.$q.screen.height/1.75,
      dwidth: this.$q.screen.width/2
    }
  },
  computed:{
    savings: function() {return this.$store.getters["Auth/savings"];},
    terminated: function() {
      let thesavings = this.$store.getters["Auth/savings"]
      let terminateSav = []
      thesavings.forEach(element => {
        if(element.status != 'pending') terminateSav.push(element)
      });
      return terminateSav
    }
  },
  mounted(){
    this.$store.dispatch("Auth/getSavings");
  }
}
</script>
