<template>
  <div>
    <q-card class="my-card" flat>
      <q-card-section v-if="error">
        <q-card class="bg-red text-white">
          <q-card-section class="">
            <div class="text-caption text-center">{{errorMsg}}</div>
          </q-card-section>
        </q-card>
      </q-card-section>
      <q-card-section>
        <q-card flat bordered class="">
          <q-card-section>
            <div class="text-subtitle1 text-bold">Transfer Details</div>
            <div v-if="fnc == 'BankTrans'" class="text-caption"> <span class="text-bold">Account Number:</span> {{details.acc_no}}</div>
            <div v-else class="text-caption"> <span class="text-bold">Account Number:</span>  {{details.reciever}}</div>

            <div v-if="fnc == 'BankTrans'" class="text-caption"> <span class="text-bold">Account Bank:</span>  {{details.bank}}</div>
            <div class="text-caption"> <span class="text-bold">Account Name:</span>  {{details.name}}</div>
            <div class="text-caption"> <span class="text-bold">Amount:</span> ‎₦{{details.amount}}</div>
          </q-card-section>
        </q-card>

      </q-card-section>
      <q-card-section class="no-padding">
        <div  class="text-h6 text-center">Enter Your PIN Below</div>
      </q-card-section>
      <q-card-section>
        <q-input inputmode="numeric" pattern="[0-9]*" type="password" dense outlined v-model="form.pin" maxlength="6" oninput="value=value.replace(/[^\d]/g,'')"/>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn :loading="loading" color="green" class="q-px-md" rounded unelevated no-caps label="Send" @click="initTransfer()" />
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName' error: false,
  props:['theref', 'bnkData', 'fnc', 'details'],
  data () {
    return {
      bank: this.$props.bnkData,
      error: false,
      errorMsg: '',
      loading:false,
      form:{
        ref: this.$props.theref,
        pin: ''
      }
    }
  },

  methods: {
    async initTransfer(){
      this.error = false
      this.loading = true
      await this.$axios.post('https://branchless.world/user/'+this.$props.fnc, this.form)
      .then(response => {
        console.log(this.$props.theref.bnkData);
        this.loading = false
        this.$q.notify({message: 'Transfer successful', color: 'green'})
        this.form.pin= ''
        this.$emit('close', this.$props.details)
      })
      .catch(error=>{
        console.log('err: ', error)
        this.loading = false
        if (error.response) {
          // Request made and server responded
          if(error.response.data.message == 'error'){
            this.error = true
            this.errorMsg = 'Bank Switch Unavailable'
            this.$q.notify({message: this.errorMsg, color: 'orange'})
          }
          if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
          if(error.response.data.message == 'invalid'){
            this.error = true
            this.errorMsg = 'Wrong Pin'
            this.$q.notify({message: this.errorMsg, color: 'orange'})
          }else this.$q.notify({message: error.response.data.message, color: 'orange'})
        } else if (error.request) {
          // The request was made but no response was received
          console.log(error.request);
          this.$q.notify({message: error.request, color: 'orange'})
        } else {
          // Something happened in setting up the request that triggered an Error
          console.log('Error', error.message);
          this.$q.notify({message: error.message, color: 'orange'})
        }

      })
    },

    // async addscript(url){
    //   let scriptTag = document.createElement("script");
    //   scriptTag.setAttribute('src', url);
    //   scriptTag.async = true
    //   document.head.appendChild(scriptTag)
    // },

    // makePayment() {
    //   FlutterwaveCheckout({
    //     public_key: "FLWPUBK-1fc8e0db8d628b9b475af6b74b6937e8-X",
    //     tx_ref: this.form.ref,
    //     amount: this.bank.amount,
    //     currency: "NGN",
    //     payment_options: "card, banktransfer, ussd",
    //     redirect_url: "https://callbacks.piedpiper.com/flutterwave.aspx?ismobile=34",
    //     customer: {
    //       email: '0'+this.bank.phone+"@gmail.com",
    //       phone_number: '0'+this.bank.phone,
    //       name: this.bank.name,
    //     },
    //     callback: function (data) {
    //       console.log(data);
    //     },
    //     customizations: {
    //       title: "Branchless",
    //       description: "Bank transfer",
    //       logo: "statics/branchlessLogo.jpg",
    //     },
    //   });
    // }

  },
  mounted(){
    // this.addscript("https://checkout.flutterwave.com/v3.js")
  },
  computed: {
    theroute(){return this.$route.name}
  },
}
</script>
