<template>
  <div class="q-px-sm flex flex-center">
    <q-card :style="$q.screen.gt.xs ? 'width:500px' : ''" >
      <q-card-section class="bg-primary text-white q-py-none">
        <div class="row q-px-none q-py-sm">
          <q-space />
          <q-btn size="sm" icon="close" color="red" text-color="white" unelevated round dense v-close-popup />
        </div>
        <div class="text-h4">Wallet Transfer</div>
        <div class="text-caption q-pb-sm">No Transfer Charge</div>
      </q-card-section>
      <q-card-section v-if="error">
        <q-card class="bg-red text-white row">
          <q-card-section class="">
            <div class="text-caption text-center">{{errorMsg}}</div>
          </q-card-section>
        </q-card>
      </q-card-section>
      <q-card-section>
        <q-input inputmode="numeric" pattern="[0-9]*" bottom-slots debounce="1000" v-model="form.reciever" label="Phone Number" counter maxlength="11" oninput="value=value.replace(/[^\d]/g,'')" />
        <q-input bottom-slots disable v-model="form.name" label="Account Name" />
        <q-input inputmode="numeric" pattern="[0-9]*" bottom-slots v-model.number="form.amount" label="Amount" placeholder="0.00" oninput="value=value.replace(/[^\d]/g,'')" />
      </q-card-section>

      <q-card-actions align="center">
        <q-btn :loading="loading" color="primary" class="q-px-lg" rounded no-caps label="Transfer" @click="initTransfer()" />
      </q-card-actions>
    </q-card>

    <q-dialog v-model="alert">
      <q-card square class="my-card" >
        <q-card-section class="row q-px-none q-py-xs">
          <q-space />
          <q-btn icon="cancel" color="red" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="no-padding">
          <PINtx :theref="myref" :fnc="fnc" :details="form" @close="closer($event)" />
        </q-card-section>
      </q-card>
    </q-dialog>


  </div>
</template>

<script>
import PINtx from './pinTX'
export default {
  // name: 'ComponrdentName'
  components:{PINtx},
  data () {
    return {
      loading: false,
      alert: false,
      error: false,
      errorMsg: '',
      myref: '',
      fnc: 'walletTransfer',
      form:{
        reciever:'',
        name:'',
        amount:''
      }
    }
  },

  methods: {
    async username(){
      if (this.form.reciever.length == 11) {
       this.$axios.post('https://branchless.world/user/userName', {
            phone: this.form.reciever
          })
          .then(response => {
            // response.data.message == 'not exist' ? (this.form.name = "Account doesn't Exist") : (this.form.name = response.data.name)
            this.form.name = response.data.name
          })
          .catch(this.form.name = "Account doesn't Exist")
      }
    },

    async initTransfer(){
      if (this.form.reciever.length == 11) {
        this.error = false
        this.loading = true
        this.$axios.post('https://branchless.world/user/initWallTrans', this.form)
        .then(response => {
          this.myref = response.data.ref;
          this.loading = false
          this.alert = true

        })
        .catch(error=>{
          this.loading = false
          this.errorHandling(error)
        })
      }else {
        this.error = true
        this.errorMsg = 'Please fill in the Account Number'
      }
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
        this.$q.notify({message: error.response.data.message, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    closer(ans){
      this.$store.dispatch("Auth/getBalance");
      this.$store.dispatch("Auth/getUser");
      this.$emit('close', ans)
      this.alert = false
    }

  },

  watch: {
    'form.reciever' : function (val, oldVal){
      this.username()
    }
  },
}
</script>
