<template>
  <q-page padding class="flex flex-center">
    <!-- content -->
    <Auth />
  </q-page>
</template>

<script>
import Auth from 'components/otherPages/auth'
export default {
  name: 'Authrntication',
  components:{
    Auth
  },

}
</script>
