<template>
  <q-page class="bg-grey-3">
    <!-- content -->
    <div v-if="user.name != ''">
      <dshTop v-if="theroute == 'dashboard'" class=""/>
      <div class="flex flex-center q-px-sm">
        <Dashboard v-if="theroute == 'dashboard'" />
        <Transaction v-if="theroute == 'transaction'" />
        <changePIN v-if="theroute == 'changepin'" />
      </div>
      <div class="q-pa-xs " v-if="theroute == 'settings'" >
        <Settings class="q-ma-xs" />
      </div>
    </div>

    <div v-else>
      {{$router.push({name: 'account'})}}
    </div>

    <q-dialog v-model="alert">
      <q-card style="max-width: 350px">
        <q-card-section>
          <div class="text-h6 text-center">You are about to Logout, are you sure?</div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn no-caps unelevated label="Cancel" color="primary" v-close-popup />
          <q-btn no-caps unelevated label="Yes" color="red" :to="{name: 'login'}" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import Transaction from 'components/webApp/transaction'
import Dashboard from 'components/webApp/dashboard'
import changePIN from 'components/webApp/changePIN'
import dshTop from 'components/common/top'
import Settings from 'components/common/settings'
// import axios from 'axios'
export default {
  // name: 'PageName',
  components:{
    Dashboard, changePIN, dshTop, Transaction, Settings
  },

  data(){
    return{
      alert:false,
    }
  },
  computed: {
    theroute(){return this.$route.name },
    user: function() { return this.$store.getters["Auth/users"]; },
    is_agent: function() { return this.$store.getters["Auth/is_agent"]; },
    is_subscribed: function() { return this.$store.getters["Auth/is_subscribed"]; },
  },
   mounted() {
    // this.rerouter()
  },
  methods:{
    rerouter(){
      let agentSubs = this.$store.getters["Auth/is_subscribed"];
      let agent = this.$store.getters["Auth/is_agent"];
      let status = this.$store.getters["Auth/sub_status"];

      console.log(agentSubs);
      console.log(agent);
      console.log(status);
      if(status){
        if(agent && agentSubs){}
        else{
          this.$router.push({name: 'agentsub'});
          console.log('success');
          history.go(-1)
        }
      }
      else this.$router.push({name: 'initAccount'})
    }

  },

  beforeRouteLeave (to, from, next) {
    // called when the route that renders this component is about to
    // be navigated away from.
    // has access to `this` component instance.
    console.log('yo!',to.name)
    if (to.name == 'login') {
      if(!this.alert){
        next(false)
        this.alert = true
      }else {
        this.$store.commit('Auth/logout')
        this.$q.notify({message: 'Logged Out', color: 'orange'})
        next()
      }
    }else next()
  }
}
</script>
