<template>
  <q-page padding>
    <!-- content -->
    <Transaction />

    <q-dialog v-model="alert">
      <q-card style="max-width: 350px">
        <q-card-section>
          <div class="text-h6 text-center">You are about to Logout, are you sure?</div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn no-caps unelevated label="Cancel" color="primary" v-close-popup />
          <q-btn no-caps unelevated label="Yes" color="red" :to="{name: 'login'}" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import Transaction from 'components/webApp/transaction'
export default {
  // name: 'PageName'
  components:{
    Transaction
  },

  data(){
    return{
      alert:false,
    }
  },

  beforeRouteLeave (to, from, next) {
    // called when the route that renders this component is about to
    // be navigated away from.
    // has access to `this` component instance.
    console.log('yo!',from.name)
    if (to.name == 'login') {
      this.alert = true
    }else next()
  }

}
</script>
