<template>
  <div>
    <q-btn size="sm" no-caps outline label="Become an Agent" @click="alert = true" />
    <q-dialog v-model="alert">
      <q-card style="min-width: 300px">
        <q-card-section v-if="error">
          <q-card class="bg-red text-white">
            <q-card-section class="">
              <div class="text-caption text-center">{{errorMsg}}</div>
            </q-card-section>
          </q-card>
        </q-card-section>
        <q-card-section>
          <div class="text-h6">Become an Agent</div>
        </q-card-section>

        <q-card-section class="text-center">
          <q-input inputmode="email" v-if="!response" bottom-slots type="email" v-model="form.email" label="Your email" />
          <div v-if="response">A messeage has been sent to your email {{form.email}}
            <br> Kindly also check your Junk or Spam Mail for the Email
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn v-if="!response" flat no-caps label="Send" color="primary" @click="getLink()"  />
          <q-btn v-if="response" flat label="OK" color="primary" v-close-popup  />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      error: false,
      alert: false,
      response:false,
      errorMsg:'',
      form:{
        email: ''
      }
    }
  },

  methods: {
     async getLink(){
      // this.alert = true
      this.$axios.post('https://branchless.world/user/addEmail', this.form)
       .then(response => {
         this.$q.notify({message: response.data.message, color: 'green'})
         this.response = true

      })
      .catch(err=>{
        this.errorHandling(err)
      })
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
        else if(error.response.data.message == 'exist'){
          // this.$router.push({name: 'login'})
          this.error = true
          this.errorMsg = 'Email Exists'
          this.$q.notify({message: 'Email Exists', color: 'orange'})
        }else this.$q.notify({message: error.response.data.message, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },
  },
}
</script>
