<template>
  <div>
    <q-btn  color="secondary"  style="color: white;" @click="alert = true" size="sm" no-caps label="Recieve Funds" />
    <q-dialog v-model="alert">
      <q-card style="max-width: 350px">
        <q-card-section>
          <div class="text-h6">Recieve Funds Link</div>
        </q-card-section>
        <q-card-section class="">
          <div class="text-primary column flex-center">
            <div class="text-center text-caption wrap">
              https://app.branchless.io/funds/<br>{{user.phone+user.name}}
            </div>
            <q-btn class="" color="primary" flat no-caps icon="ion-copy" @click="clipboard('0'+user.phone, user.name)" />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat no-caps size="sm" icon="ion-share" class="gt-sm">
            <q-popup-proxy>
              <q-card square class="">
               <social :post="{
                link: 'https://app.branchless.io/funds/'+user.phone+user.name,
                description: 'Hey,I am using Branchless to Save Money & Receive Funds Easily. You can also Request an ATM Card. Its Great! Click here to Signup: https://app.branchless.io/funds/'+user.phone+user.name,
                title:user.name+' shared a branchless link with you',
                hashtags:'Branchless.io, mobile banking, branchless, branPOS',
                twitterUser: 'branchlessHQ'
              }" />
              </q-card>
            </q-popup-proxy>
          </q-btn>
          <q-btn flat icon="ion-share" color="primary" @click="dialog = true" class="lt-md" />
          <q-dialog v-model="dialog" position="bottom">
            <q-card square class="">
              <social :post="{
                link: 'https://app.branchless.io/funds/'+user.phone+user.name,
                description: 'Hey,I am using Branchless to Save Money & Receive Funds Easily. You can also Request an ATM Card. Its Great! Click here to Signup: https://app.branchless.io/funds/'+user.phone+user.name,
                title:user.name+' shared a branchless link with you',
                hashtags:'Branchless.io, mobile banking, branchless, branPOS',
                twitterUser: 'branchlessHQ'
              }" />
            </q-card>
          </q-dialog>
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import social from "components/common/social_share";
import { copyToClipboard } from 'quasar'
export default {
  // name: 'ComponentName',
  components: {
    social
  },
  data () {
    return {
      phone: '0'+this.$store.getters["Auth/users"].phone,
      name:this.$store.getters["Auth/users"].name,
      dialog:false,
      alert: false,
      link: '',

    }
  },
  methods: {

    clipboard(phone, name){
      copyToClipboard('https://app.branchless.io/funds/'+phone+name)
      .then((response) => {
        this.$q.notify({message: 'Funds Wallet Link Copied', color: 'green'})
      })
      .catch((err) => {
        console.log(err)
      })
    }
  },
  computed: {
    theroute(){return this.$route.name },
    user: function() { return this.$store.getters["Auth/users"]; },
    is_agent: function() {return this.$store.getters["Auth/is_agent"];},
  },

}
</script>
