<template>
  <div>
    <q-btn color="black" outline label="Request POS" />
    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">Issue an ATM Card</div>
        </q-card-section>
        <q-card-section>
          <div>
            You currently do not qualify for a POS,
            kindly meet up the prerequisites conditions and apply again.
            For more Inquiries send a mail to
            <q-btn flat no-caps label="pos@branchless.io" type="a" href="mailto:pos@branchless.io"/>

          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>


  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      alert: false
    }
  }
}
</script>
