<template>
  <div>
    <!-- <q-btn size="sm" no-caps color="black" outline label="Apply for Loan" @click="alert = true" /> -->
    <q-item
      clickable
      @click="alert = true"
    >
      <q-item-section
        avatar
      >
        <q-icon name="ion-ios-cash" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Apply for Loan</q-item-label>
      </q-item-section>
    </q-item>
    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">Apply for Loan</div>
        </q-card-section>
        <q-card-section>
          <div>
            You currently do not qualify for a Branchless loan.
            Kindly Click the below link for details for Loan Request
            <!-- <q-btn dense flat no-caps label="loan@branchless.io" type="a" href="mailto:loan@branchless.io?subject=Apply%20For%20Loan"/> -->
            <q-btn dense flat no-caps label="bit.ly/Branchless_Loan" type="a" href="https://bit.ly/Branchless_Loan" target="__blank"/>
            </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>


  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      alert: false
    }
  }
}
</script>
