<template>
  <div class="q-px-sm">

    <q-card :style="$q.screen.gt.sm ? 'width:500px' : ''" >
      <q-card-section class="bg-primary text-white">
        <div class="row">
          <q-space />
          <q-btn icon="close" color="secondary" flat round dense v-close-popup />
        </div>
        <div class="text-h4">Create a Savings Plan</div>
      </q-card-section>

      <q-card-section>
        <q-input dense bottom-slots debounce="1000" v-model="form.name" label="Name your Savings Plan" />
        <q-select dense v-model="plan_id" :options="plan" label="Plans" />
        <q-input dense bottom-slots disable debounce="1000" v-model="duration" label="Duration" />
        <q-input inputmode="numeric" pattern="[0-9]*" dense bottom-slots :disable="form.duration == ''" debounce="1000" v-model.number="form.total" label="Total" placeholder="0.00" oninput="value=value.replace(/[^\d]/g,'')" />
        <q-input inputmode="numeric" pattern="[0-9]*" dense bottom-slots disable v-model.number="form.amount" label="Amount" placeholder="0.00" oninput="value=value.replace(/[^\d]/g,'')" />
      </q-card-section>

      <q-card-actions align="center">
        <q-btn :loading="loading" color="primary" class="q-px-lg" rounded no-caps label="Start Savings" @click="acctUpdate()" />
      </q-card-actions>
    </q-card>

    <q-dialog v-model="alert">
      <PINtx :theref="myref" :fnc="fnc" :bnkData="form" />
    </q-dialog>
  </div>
</template>

<script>
import PINtx from '../webApp/pinTX'
export default {
  // name: 'ComponrdentName'
  components:{PINtx},
  data () {
    return {
      loading:false,
      alert: false,
      theplans:this.$store.getters["Auth/savings_plans"],
      myref: '',
      fnc:'Subscription',
      dplan:null,
      plan:[],
      plan_id:'',
      duration:'',
      form:{
        name:'',
        plan:'',
        amount:'',
        duration:'',
        total:''
      }
    }
  },

  methods: {
    async acctUpdate(){
      // this.theamount()
      this.loading = true
      this.$axios.post('https://branchless.world/user/initSavings', this.form)
      .then(response => {
        console.log('response: ', response.data.data)
        this.$q.notify({message: 'savings plan created', color: 'green'})
        // this.myref = response.data.data.ref;
        this.form.phone = this.$store.getters["Auth/users"].phone
        this.form.name = this.$store.getters["Auth/users"].name
        this.loading = false
        this.makePayment(response.data.data.ref)
        // this.myref = response.data.data.ref;
      })
      .catch(error=>{
        this.errorHandling(error)
      })
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        this.loading = false
        if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
        this.$q.notify({message: error.response.data.message, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.loading = false
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.loading = false
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    async getPlans(){
      this.theplans.map((element,index) => {
        if(element.status == 'active') {
          if (element.duration!=0) {
            this.plan.push(`${element.name} (${element.interval})`)
          }
        }
      })

    },


    theduration(){
      this.theplans.forEach(element => {
        if(`${element.name} (${element.interval})` == this.plan_id) {
          this.form.plan = element.id
          this.dplan = element
        }
      });
    },

    async addscript(url){
      let scriptTag = document.createElement("script");
      scriptTag.setAttribute('src', url);
      scriptTag.async = true
      document.head.appendChild(scriptTag)
    },
    makePayment(ref) {
      FlutterwaveCheckout({
        public_key: "FLWPUBK-1fc8e0db8d628b9b475af6b74b6937e8-X",
        tx_ref: ref,
        amount: this.form.amount,
        currency: "NGN",
        payment_options: "card",
        redirect_url: "https://app.branchless.io/dashboard",
        customer: {
          email: '0'+this.form.phone+"@gmail.com",
          phone_number: '0'+this.form.phone,
          name: this.form.name,
        },
        callback: function (data) {
          console.log(data);
        },
        customizations: {
          title: "Branchless",
          description: "Bank transfer",
          logo: "https://bitbucket.org/Godfadatun/branchless_webapp/src/master/src/statics/branchlessLogo.jpg",
        },
      });
    }
  },
  computed:{
    thestate(){ return this.$store.getters["Auth/states"] },
    savingsplan(){ return this.$store.getters["Auth/savings_plans"] },
  },
  watch: {
    'form.total': function (val, oldVal){
      this.form.amount = this.form.total / this.dplan.duration
    },
    plan_id: function (val, oldVal){
      this.theduration()
      this.duration = this.dplan.interval
      this.form.duration = this.dplan.duration
    },
  },
  mounted(){
    this.getPlans()
    this.$store.dispatch("Auth/getSavingsPlans");
    this.addscript("https://checkout.flutterwave.com/v3.js")
  }

}
</script>
