<template>
  <div>
    <q-card class="text-white full-width" :style="'min-width: 300px; background: linear-gradient(315deg, '+colors[0]+' 0%, '+colors[1]+' 94%);'">
      <q-card-section class="row q-pb-none q-pt-sm">
        <div class="text-h6">{{thePiggy.plan}}</div>
        <q-space />
        <div class="text-caption">N {{thePiggy.amount}}</div>
      </q-card-section>
      <q-card-section class="text-h4 text-center q-pt-none">
        N {{thePiggy.total}}
      </q-card-section>
      <q-card-actions v-if="thePiggy.status !== 'pending'" align="center" class="q-pt-none q-px-none">
        <q-btn color="secondary" style="color: white;" class="q-px-sm q-py-xs" size="sm" no-caps label="Withdrawal" />
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props:['colors', 'thePiggy'],
  data () {
    return {}
  }
}
</script>
