<template>
  <div>
    <!-- <q-btn size="sm" no-caps color="black" outline label="Request POS" @click="alert = true" /> -->
        <q-item
      clickable
      @click="alert = true"
    >
      <q-item-section
        avatar
      >
        <q-icon name="fas fa-money-bill-wave-alt" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Request POS</q-item-label>
      </q-item-section>
    </q-item>

    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">Request POS</div>
        </q-card-section>
        <q-card-section>
          <div>
            To Qualify for a FREE POS, you will need to fulfil some simple steps.
            Kindly Click on the below link for Full Details.
            <!-- <q-btn dense flat no-caps label="pos@branchless.io" type="a" href="mailto:pos@branchless.io?subject=Request%20POS"/> -->
            <q-btn dense flat no-caps label="bit.ly/POS_Request" type="a" href="https://bit.ly/POS_Request" target="__blank"/>
            </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>


  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      alert: false
    }
  }
}
</script>
