<template>
  <div>
    <q-btn size="sm" no-caps stack outline class="q-mr-xs" @click="alert = true" >
      <div v-if="is_agent" class="text-caption">Open Branchless Wallet <span class="">(Earn N500/Wallet)</span> </div>
      <div v-else>Refer and Earn</div>
    </q-btn>
    <q-dialog v-model="alert" full-width>
      <q-card style="max-width: 350px">
        <q-card-section>
          <div class="text-h6">Your Referrer Link</div>
        </q-card-section>
        <q-card-section class=" ">
          <div class="text-primary q-px-sm column flex-center">
            <div class="text-center text-caption wrap">
              https://app.branchless.io/referrer/ <br>{{link}}
            </div>
            <q-btn class="" color="primary" flat no-caps icon="ion-copy" @click="clipboard()" />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat no-caps size="sm" icon="ion-share" class="gt-sm">
            <q-popup-proxy>
              <q-card square class="">
               <social :post="{
                link: 'https://app.branchless.io/referrer/'+link,
                description: 'Hey,I am using Branchless to Save Money & Receive Funds Easily. You can also Request an ATM Card. Its Great! Click here to Signup: https://app.branchless.io/referrer/'+link,
                title:user.name+' shared a branchless link with you',
                hashtags:'Branchless.io, mobile banking, branchless, branPOS',
                twitterUser: 'branchlessHQ'
              }" />
              </q-card>
            </q-popup-proxy>
          </q-btn>
          <q-btn flat icon="ion-share" color="primary" @click="dialog = true" class="lt-md" />
          <q-dialog v-model="dialog" position="bottom">
            <q-card square class="">
              <social :post="{
                link: 'https://app.branchless.io/referrer/'+link,
                description: 'Hey,I am using Branchless to Save Money & Receive Funds Easily. You can also Request an ATM Card. Its Great! Click here to Signup: https://app.branchless.io/referrer/'+link,
                title:user.name+' shared a branchless link with you',
                hashtags:'Branchless.io, mobile banking, branchless, branPOS',
                twitterUser: 'branchlessHQ'
              }" />
            </q-card>
          </q-dialog>
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import social from "components/common/social_share";
import { copyToClipboard } from 'quasar'
export default {
  // name: 'ComponentName',
  components: {
    social
  },
  data () {
    return {
      dialog:false,
      alert: false,
      link: '',

    }
  },
  methods: {
     async getLink(){
      this.$axios.get('https://branchless.world/user/referLink')
       .then(response => {
         let theNumber = response.data.data.link.split('/')
         this.link = theNumber[1]
      })
      .catch(err=>{
        this.errorHandling(err)
      })
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
        this.$q.notify({message: error.response.data.message, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    clipboard(){
      copyToClipboard('https://app.branchless.io/referrer/'+this.link)
      .then((response) => {
        this.$q.notify({message: 'Referrer Link Copied', color: 'green'})
      })
      .catch((err) => {
        console.log(err)
      })
    }
  },
  computed: {
    theroute(){return this.$route.name },
    user: function() { return this.$store.getters["Auth/users"]; },
    is_agent: function() {return this.$store.getters["Auth/is_agent"];},
  },

  mounted(){
    this.getLink()
  }
}
</script>
