<template>
  <div>
    <!-- {{user}} -->
    <dshTop v-if="tab != 'account'" class=""/>
    <div class="row flex-center">
      <q-btn v-if="tab != 'account'" class="" flat color="white" text-color="grey-7" icon="ion-ios-contact" @click="tab = 'account'"/>
      <q-space />
      <div class="flex flex-center">
        <div class="text-h5 text-weight-light text-center q-py-md">{{tab == 'account'?'Update Profile': 'Piggy Bank Savings'}}</div>
      </div>
      <q-space />
    </div>
    <q-btn v-if="tab == 'account'" class="fixed-bottom-right" flat color="white" text-color="grey-7" icon="ion-ios-settings" @click="tab = 'piggy'"/>

    <q-tab-panels v-model="tab" class="bg-transparent ">
      <q-tab-panel name="account" class="bg-transparent flex flex-center">
        <q-card flat class="bg-transparent column ">
          <q-card-section class="q-gutter-sm">
            <div v-if="error" class="text-caption text-red">Sorry, You are Below 18</div>
            <q-input outlined dense v-model="form.name" label="Your Full Name" />
            <q-select outlined dense v-model="form.location" :options="thestate" label="Select state" />
             <q-input outlined dense v-model="form.date_of_birth" mask="date" :rules="['date']">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="form.date_of_birth" @input="() => $refs.qDateProxy.hide()" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </q-card-section>
          <q-card-actions align="center">
            <q-btn :loading="loading" color="primary" class="q-px-lg full-width" no-caps label="Submit" @click="eligibilityFnc()" />
          </q-card-actions>
        </q-card>

      </q-tab-panel>
      <q-tab-panel name="piggy">

        <q-list bordered separator>
          <q-item class="bg-primary text-white">
            <q-item-section > <q-item-label>Savings Plan</q-item-label> </q-item-section>
            <q-item-section > <q-item-label>Duration</q-item-label> </q-item-section>
            <q-item-section > <q-item-label>Target</q-item-label> </q-item-section>
            <q-item-section > <q-item-label>Daily Savings</q-item-label> </q-item-section>
            <q-item-section side></q-item-section>
          </q-item>

          <q-item v-for="(item, index) in savings.slice().reverse()" :key="index" v-if="item.duration !=  0" :class="item.status == 'cancelled' ?'bg-red-4 text-white':'bg-white'">
            <q-item-section>
              <q-item-label class="text-capitalize">{{item.name}}</q-item-label>
            </q-item-section>
            <q-item-section >
              <q-item-label class="text-left">{{item.duration}}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{item.total/100}}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{item.amount/100}}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-btn v-if="item.status != 'cancelled'" size="sm" flat round color="red" icon="ion-ios-trash" @click="()=>{confirm = true; holder = item}" />
              <q-btn v-if="item.status == 'cancelled'" size="sm" flat round color="red" />
            </q-item-section>

          </q-item>
        </q-list>
    </q-tab-panel>
  </q-tab-panels>

  <q-dialog v-model="confirm" persistent>
    <q-card>
      <q-card-section class="column flex-center">
        <q-avatar icon="ion-ios-trash" color="red" text-color="white" />
        <span class="q-ml-sm text-center">
          <b>Note:</b> You can only make withdawals after 48 hrs.<br>
          Are you sure you want to terminate the {{holder.plan}} Saving Plan</span>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat no-caps label="Cancel" color="primary" v-close-popup />
        <q-btn flat no-caps label="Terminate" color="primary" @click="terminator()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <!-- <q-dialog v-model="confirm" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
        <span class="q-ml-sm">You are currently not connected to any network.</span>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" v-close-popup />
        <q-btn flat label="Turn on Wifi" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog> -->


  </div>
</template>

<script>
import dshTop from 'components/common/top'
export default {
  // name: 'ComponentName',
  components:{ dshTop },
  data () {
    return {
      confirm: false,
      loading: false,
      tab: 'account',
      error: false,
      holder: '',
      mystate:'',
      mycity:'',
      thecities:[],
      form:{
        name:'',
        gender: this.$store.getters["Auth/users"].gender,
        date_of_birth: '2019/02/01',
        location:''
      }
    }
  },
  mounted() {
    this.$store.dispatch("Auth/getSavings");
    this.$store.dispatch("Auth/getSavingsPlans");
  },
  methods: {
    async terminator(){
      console.log(this.holder.id);

      this.$axios.post('https://branchless.world/user/cancelSavings', {id: this.holder.id})
        .then(response => {
          console.log('response: ', response.data)
          this.$store.dispatch("Auth/getSavings");
          this.confirm =  false
        })
        .catch(error=>{
          this.errorHandling(error)
      })
    },

    eligibilityFnc(){
      let thedate = this.form.date_of_birth.split("/");
      console.log('thedate', thedate);
      var today = new Date();
      if (today.getFullYear() > thedate[0]) {
        let yeardiff = today.getFullYear() - thedate[0]
        console.log('yeardiff', yeardiff)
        if(yeardiff > 19){
          this.acctUpdate()
        }
        else if(yeardiff == 18){
          if(today.getMonth()+1 > thedate[1]){
            this.acctUpdate()
          }
          else if(today.getMonth()+1 == thedate[1]){
            if(today.getDate() >= thedate[2]){
              this.acctUpdate()
            }else{
              this.error = true
            }
          }else{
            this.error = true
          }
        }
        else{
          this.error = true
        }
      }else{
        this.error = true
      }
    },

    async acctUpdate(){
      this.loading = true
      this.error = false
      this.$axios.post('https://branchless.world/user/updateUser', this.form)
      .then(response => {
        console.log('response: ', response.data)
        this.loading = false
        this.$q.notify({message: 'Account Opening Completed', color: 'green'})
        this.$router.push({name: 'initAccount'})
      })
      .catch(error=>{
        this.errorHandling(error)
      })
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        this.$q.notify({message: error.response, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    async acctUpdate(){
      this.error = false
      this.$axios.post('https://branchless.world/user/updateUser', this.form)
      .then(response => {
        console.log('response: ', response.data)
        this.$q.notify({message: 'Account Opening Completed', color: 'green'})
        this.$router.push({name: 'dashboard'})
      })
      .catch(error=>{
        this.errorHandling(error)
      })
    },
  },
  computed:{
    thestate(){ return this.$store.getters["Auth/states"] },
    savings: function() {return this.$store.getters["Auth/savings"];},
    user: function() { return this.$store.getters["Auth/users"]; },
  },
}
</script>
