<template>
  <div>
     <!-- <q-btn  size="sm" color="black" no-caps outline >
       <div class="text-caption">Subcriptions</div>
       <q-menu fit>
        <q-list style="">
          <q-item clickable  v-for="(element, index) in plans" :key="index" @click="()=>{holder = element; acctUpdate({ plan:element.id, amount:element.amount });alert = true}" v-close-popup>
            <q-item-section class="text-capitalize text-caption">{{element.name + ' ‎₦'+ element.amount}}</q-item-section>
          </q-item>
        </q-list>
       </q-menu>

     </q-btn> -->
     <q-btn v-if="subbed" size="sm" color="black" no-caps outline @click="()=>{acctUpdate({ plan:plan.planName });alert = true}">
       <div class="text-caption text-capitalize">{{plan.planName}} Subcription</div>
     </q-btn>

    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
        <div class="text-h2 text-center text-orange"><q-icon name="ion-information-circle" />
        </div>
        </q-card-section>
        <q-card-section class="text-center">
          <div>Are you Sure you want to terminate your</div>
          <div class="text-h6 text-capitalize">{{plan.planName + ' ‎₦'+ plan.amount}} Plan</div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn no-caps flat label="No" color="blue" v-close-popup />
          <q-btn no-caps flat round color="red" label="Yes"  @click="()=>{terminator()}" />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  data () {
    return {
      alert:false,
      subbed:true,
      holder: '',
      plan:'',
      options:[],
      model:'Agent Subcriptions',

    }
  },
  methods: {

    async acctUpdate(data){
      await this.$axios.post('https://branchless.world/user/initSub', data)
      .then(response => {
        console.log('response: ', response.data)
        this.$q.notify({message: 'savings plan created', color: 'green'})
        this.form.phone = this.$store.getters["Auth/users"].phone
        this.form.name = this.$store.getters["Auth/users"].name
        this.makePayment(response.data.data.ref)
        // this.$router.push({name: 'dashboard'});
      })
      .catch(error=>{
        console.log('err: ', error)
        if (error.response) {
          // Request made and server responded
          if(error.response.data.message == 'active sub')this.alert = true
          this.$q.notify({message: error.response.data.message, color: 'orange'})
        } else if (error.request) {
          // The request was made but no response was received
          console.log(error.request);
          this.$q.notify({message: error.request, color: 'orange'})
        } else {
          // Something happened in setting up the request that triggered an Error
          console.log('Error', error.message);
          this.$q.notify({message: error.message, color: 'orange'})
        }
      })
    },
    async terminator(){
      console.log(this.holder);

      this.$axios.post('https://branchless.world/user/cancelSub')
        .then(response => {
          this.$router.push({name: 'agentsub'})
          this.alert =  false
        })
        .catch(error=>{
          console.log('err: ', error)
          if (error.response) {
            // Request made and server responded
            // if(error.response.data.message == 'active sub')this.alert = true
            if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
            this.$q.notify({message: error.response.data.message, color: 'orange'})
          } else if (error.request) {
            // The request was made but no response was received
            console.log(error.request);
            this.$q.notify({message: error.request, color: 'orange'})
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
            this.$q.notify({message: error.message, color: 'orange'})
          }
        })
    },
    async getSub(){
      console.log(this.holder);

      this.$axios.get('https://branchless.world/user/getSub')
        .then(response => {
          console.log(response.data.data)
          this.plan = response.data.data
          this.alert =  false
        })
        .catch(error=>{
          console.log('err: ', error)
          if (error.response) {
            // Request made and server responded
            // if(error.response.data.message == 'active sub')this.alert = true
            if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
            if(error.response.data.message == 'not subscribed')this.subbed = false
            this.$q.notify({message: error.response.data.message, color: 'orange'})
          } else if (error.request) {
            // The request was made but no response was received
            console.log(error.request);
            this.$q.notify({message: error.request, color: 'orange'})
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
            this.$q.notify({message: error.message, color: 'orange'})
          }
        })
    },
  },

  computed: {
    plans: function(){ return this.$store.getters["Auth/agentPlans"]}

  },

  mounted() {
    this.$store.dispatch("Auth/getSavingsPlans");
    this.getSub()
    // this.$store.getters["Auth/agentPlans"].map(element=>this.options.push(element.name + ' '+ element.amount))
  },
}
</script>
