<template>
  <div>
    <q-toolbar class="bg-transparent flex flex-center" v-if="(theroute == 'dashboard') || (theroute == 'settings')">
      <!-- <div v-if="is_agent && (theroute != 'settings')" class="gt-sm text-bold">N10 Transfer to all Banks</div> -->
      <q-btn v-if="(theroute != 'settings')" class="gt-sm q-mx-sm" unelevated size="sm" color="secondary" no-caps label="Click to Earn N40,000/Month" aria-label="request Debit card" type="a" href="https://bit.ly/EARN_N40000" target="__blank" />
      <q-space class="gt-sm" />
      <div  class="row justify-center q-py-xs">
        <Link v-if="theroute != 'settings'"/>
        <Agent v-if="!is_agent && (theroute != 'settings')"/>
        <subscriptions v-if="is_agent && (theroute == 'settings')" />
      </div>
    </q-toolbar>
  </div>
</template>

<script>
import Link from 'components/common/referlink'
import Agent from 'components/common/agent'
import POS from 'components/common/posRequest'
import subscriptions from 'components/common/subscriptions'
export default {
  // name: 'ComponentName'
  components:{
    Link, Agent, POS, subscriptions
  },
  data () {
    return {}
  },
  computed: {
    theroute(){return this.$route.name },
    is_agent: function() {return this.$store.getters["Auth/is_agent"];},
  },
}
</script>
