<template>
  <div>
    <q-card class="text-white full-width" :style="'min-width: 300px; background: linear-gradient(315deg, '+colors[0]+' 0%, '+colors[1]+' 94%);'">
      <q-card-section class="row">
<!-- {{user.name}} -->
        <div class=" text-h6">0{{user.phone}}</div>
        <q-space />
        <div class="">
          <q-btn outline style="color: white;" class="" size="sm" no-caps label="Fund Account" @click="alert = true" />
          <!-- <q-btn color="secondary" class="" size="sm" no-caps  @click="confirm = true" >
            <div class="text-caption text-white">
              Fund Account
            </div>
          </q-btn> -->
        </div>
      </q-card-section>
      <q-card-section class="text-h4 text-center no-padding">
        ₦ {{balance}}
      </q-card-section>


      <q-card-actions align="center" class="q-py-md">
        <!-- <Funds />
        <q-space />
        <q-btn color="secondary" size="sm" no-caps label="Piggy Bank" icon-right="ion-ios-arrow-forward" @click="$emit('piggy', 'piggy')" /> -->
      </q-card-actions>
    </q-card>

    <q-dialog v-model="alert" >
      <q-card :style="$q.screen.gt.sm ? 'width:350px' : ''">
        <q-card-section>
          <q-input bottom-slots v-model.number="amount" label="Amount" placeholder="0.00" oninput="value=value.replace(/[^\d]/g,'')" />
        </q-card-section>
        <q-card-actions align="center">
          <q-btn rounded class="q-px-lg" size="sm" no-caps color="secondary" label="Continue" @click="loadWallet()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="confirm">
      <q-card>
        <q-card-section>
          <div class="text-h6">FUND ACCOUNT</div>
        </q-card-section>
        <q-card-section>
          <div>
            Before you can Fund your Account, Branchless will have to Reward and Pay you N20,000
            Kindly, click the below link to know how.
            <!-- <q-btn dense flat no-caps label="pos@branchless.io" type="a" href="mailto:pos@branchless.io?subject=Request%20POS"/> -->
            <q-btn dense flat no-caps label="bit.ly/GetPaid_Rewarded" type="a" href="https://bit.ly/GetPaid_Rewarded" target="__blank"/>
            </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import Funds from 'components/common/funds'
export default {
  // name: 'ComponentName',
  props:['colors'],
  components:{
    Funds
  },
  data () {
    return {
      alert: false,
      confirm: false,
      // balance: '',
      amount: ''
    }
  },
  mounted(){
    // this.getBalance()
    this.$store.dispatch("Auth/getUser");
    this.$store.dispatch("Auth/getBalance");
    // this.addscript("https://js.onepipe.io/v1")
    this.addscript("https://checkout.flutterwave.com/v3.js")
  },
  methods: {
    async getBalance(){
      this.$axios.get('https://branchless.world/user/walletBalance')

        .then(response => {
          this.balance = response.data.data.balance/100
        })
        .catch(error=>{
          this.errorHandling(error)
        })
    },

    async addscript(url){
      let scriptTag = document.createElement("script");
      scriptTag.setAttribute('src', url);
      scriptTag.async = true
      document.head.appendChild(scriptTag)
    },

    async loadWallet(){

      this.loading = true
      this.$axios.post('https://branchless.world/user/initLoadWallet', {amount:this.amount})
       .then(response => {
          console.log(response.data.data);
          let data = response.data.data
          this.loading = false
          // this.OnePipePay(data.ref, data.phone, data.amount)
          this.makePayment(data.ref, data.phone, data.amount)
        })
      .catch(error=>{
        this.errorHandling(error)
      })
    },

    makePayment(ref, phone, amount) {
      FlutterwaveCheckout({
        public_key: "FLWPUBK-1fc8e0db8d628b9b475af6b74b6937e8-X",
        tx_ref: ref,
        amount: amount,
        currency: "NGN",
        payment_options: "card, banktransfer, ussd",
        redirect_url: "https://app.branchless.io/dashboard",
        customer: {
          email: '0'+phone+"@gmail.com",
          phone_number: '0'+phone,
          name: this.$store.getters["Auth/users"].name,
        },
        callback: function (data) {
          console.log(data);
        },
        customizations: {
          title: "Branchless",
          description: "Bank transfer",
          logo: "https://bitbucket.org/Godfadatun/branchless_webapp/src/master/src/statics/branchlessLogo.jpg",
        },
      });
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.C);
        console.log(error.response.status);
        console.log(error.response.headers);
        if(error.response.data.message == 'jwt expired')this.$router.push({name: 'login'})
        this.$q.notify({message: error.response.data.message, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },
    // OnePipePay(ref, phone, amount) {

    //   var handler = OnePipePopup.setup({
    //     requestData: {
    //       request_ref: ref,
    //       request_type: "charge",
    //       api_key: "4Sk1hjCzRaVr41SerOWe_d461dd232b0d46f98588d96c2188843b", //API key from your console
    //       auth_provider: "RAVEPAY",
    //       transaction: {
    //         amount: amount * 100, // amount in kobo
    //         currency: "NGN",
    //         transaction_ref: ref, //generate a unique number
    //         transaction_desc: "Load wallet",
    //         customer: {
    //           customer_ref: phone, // phone number
    //           firstname: phone, // phone number
    //           surname: phone, // phone number
    //           email: phone+"@qmail.com", // phone number + @qmail.com
    //           mobile_no: phone, // phone number
    //         },
    //       },
    //     },
    //     callback: function (response) {
    //       //response.reference, response.status, response.message, response.paymentmethod
    //       console.log(response);
    //       alert(
    //         "Transaction status: " +
    //           response.status +
    //           ". Payment method: " +
    //           response.paymentmethod +
    //           ". Ref: " +
    //           response.reference +
    //           ". Message: " +
    //           response.message
    //       );
    //     },
    //     onClose: function () {
    //       alert("You cancelled the payment process");
    //     },
    //   });

    //   handler.execute();
    // }

  },
  computed:{
    user: function() { return this.$store.getters["Auth/users"]; },
    balance: function() { return this.$store.getters["Auth/balance"]; },
  }
}
</script>
