<template>
  <q-layout view="lHh Lpr lFf">
    <q-header bordered v-if="theauth">
      <q-toolbar class="bg-white text-black "  >
        <q-btn flat dense round v-if="$q.screen.lt.md" icon="menu" aria-label="Menu" @click="leftDrawerOpen = !leftDrawerOpen" />
        <!-- <q-space/> -->
        <q-toolbar-title :class="$q.screen.lt.md?'flex flex-center':''">
          <q-btn to="/" flat dense stack no-caps>
            <img src="statics/branchlessLogo.jpg" style="max-width: 150px">
            <div class="absolute-bottom text-weight-light q-mb-sm text-caption">
              ...simply save
              <!-- {{$options.components}} -->
            </div>
          </q-btn>
        </q-toolbar-title>
        <!-- <q-space/> -->
      </q-toolbar>

    </q-header>

    <q-drawer
      v-if="theauth"
      v-model="leftDrawerOpen"
      :show-if-above="theauth"
      bordered
      content-class="bg-grey-1"
      :width="220"
      class="column"
    >
      <q-item-label
          header
          class="text-grey-8"
        >
        {{user.name}}
        <!-- {{user}} -->
          <!-- <img v-if="theroute != 'dashboard'" src="../statics/branchlessLogo.jpg" style="max-width: 120px"> -->
          <!-- <div v-if="theroute == 'dashboard'" class="text-caption text-primary text-bold row flex-center">
            <div>{{user.name}}</div>
          </div> -->
        </q-item-label>
        <EssentialLink
          v-for="link in dashboardMenu"
          :key="link.title"
          v-bind="link"
        />
        <POS />
        <Loan/>
        <q-separator inset />
        <q-separator inset />
        <q-item clickable tag="a" :href="'mailto:hello@branchless.io?subject=Branchless%20Customer%20Support%20'+user.phone" target="__blank">
          <q-item-section avatar >
            <q-icon name="headset_mic" />
          </q-item-section>

          <q-item-section>
            <q-item-label>{{mail.title}}</q-item-label>
          </q-item-section>
        </q-item>

        <Logout />
        <div class="flex flex-center q-pa-sm q-mt-md">
          <q-btn class="full-width" color="secondary" no-caps label="Request Debit Card" aria-label="request Debit card" @click="confirm = true" />
        </div>

        <!-- <q-card bordered class="bg-purple-9 absolute-bottom flex flex-center text-white q-ma-xs cursor-pointer">
          <q-card-section class="q-pb-xs text-bold cursor-pointer">
            Request Brancless Card
          </q-card-section>
          <q-card-section class="no-padding">
            <img src="statics/branchlessLogo.png" style="max-width: 100px">
          </q-card-section>
        </q-card> -->

        <q-dialog v-model="confirm">
          <q-card style="max-width: 350px; min-width: 300px">
            <q-card-section>
              <div class="text-h6 text-center">Request Debit Card</div>
            </q-card-section>
            <q-card-section class="">
              <div class="text-primary column flex-center">
                <div class="text-center text-caption wrap">
                  0{{user.phone}}
                </div>
              </div>


            </q-card-section>
          <q-card-actions vertical align="center">
            <q-btn color="primary" unelevated no-caps label="Copy Phone" icon-right="ion-copy" @click="clipboard(user.phone)" />
            <q-btn v-if="goTo" class="" color="secondary" unelevated no-caps label="Make Payment" @click="()=>{ goTo=false; confirm = false }" type="a" href="https://paystack.com/buy/branchlesscard" target="__blank" />
          </q-card-actions>



          </q-card>
        </q-dialog>

    </q-drawer>


    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
import Logout from 'components/auth/logout'
import POS from 'components/common/posRequest'
import Loan from 'components/common/loan'
import { copyToClipboard } from 'quasar'
export default {
  name: 'MainLayout',

  components: {
    EssentialLink, Logout, POS, Loan
  },

  data () {
    return {
      leftDrawerOpen: false,
      goTo: false,
      confirm: false,
      name: '',
      mail: {
        title: 'App Support',
        link: 'mailto:hello@branchless.io?subject=Branchless%20Customer%20Support',
      },
      // theauth: false,

      dashboardMenu:[
         {
          title: 'Dashboard',
          icon: 'home',
          link: 'dashboard',
          ifCond: true
        },
        {
          title: 'Change PIN',
          icon: 'ion-ios-person',
          link: 'changepin',
          ifCond: true
        },
        {
          title: 'Settings',
          icon: 'ion-cog',
          link: 'settings',
          ifCond: true
        }
      ]
    }
  },
  methods:{
    clipboard(link){
      copyToClipboard(link)
      .then((response) => {
        this.goTo = true
        this.$q.notify({message: 'Phone Number Copied', color: 'green'})

      })
      .catch((err) => {
        console.log(err)
      })
    }
  },
  watch: {
    'confirm' : function (val, oldVal){
      if(this.confirm)this.goTo = false
    }
  },
  computed: {
    theroute(){return this.$route.name },
    user: function() { return this.$store.getters["Auth/users"]; },
    theauth(){
      let myroute = this.$route.name;
      if(myroute == 'login' || myroute == 'register' ||myroute == 'referrer' || myroute == 'forgot' || myroute == 'account' ||myroute == 'otp' ||myroute == 'agentsub' ||myroute == 'funds' ||myroute == 'initAccount'){
        return false
      }else{
        return true
      }
    },
    is_agent: function() {return this.$store.getters["Auth/is_agent"];},
  },
  mounted() {
    if(this.$q.localStorage.getItem('branchless_token')) {
      this.$axios.defaults.headers.common["Authorization"] = this.$q.localStorage.getItem('branchless_token')
      this.$store.dispatch("Auth/getUser");
    }

  },

}
</script>
