<template>
  <div>
    <q-card :style="$q.screen.gt.sm ? 'width:500px' : ''" >
      <q-card-section class="bg-primary text-white">
        <div v-if="error" class="text-caption text-red">Sorry, You are Below 18</div>
        <div class="text-h4">Account Update</div>
      </q-card-section>

      <q-card-section>
        <q-input bottom-slots v-model="form.name" label="Your Full Name" />
        <q-select v-model="form.gender" :options="gender" label="Select Gender" />
         <q-input filled v-model="form.date_of_birth" mask="date" :rules="['date']">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date v-model="form.date_of_birth" @input="() => $refs.qDateProxy.hide()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-select v-model="form.location" :options="thestate" label="Select state" />
      </q-card-section>

      <q-card-actions align="center">
        <q-btn :loading="loading" color="primary" class="q-px-lg" rounded no-caps label="Submit" @click="eligibilityFnc()" />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      loading: false,
      gender:[
        'Male',
        'Female'
      ],
      error: false,
      mystate:'',
      mycity:'',
      thecities:[],
      form:{
        name:'',
        gender:'',
        date_of_birth:'2019/02/01',
        location:''
      }
    }
  },
  methods: {
    async acctUpdate(){
      this.loading = true
      this.error = false
      this.$axios.post('https://branchless.world/user/updateUser', this.form)
      .then(response => {
        console.log('response: ', response.data)
        this.loading = false
        this.$q.notify({message: 'Account Opening Completed', color: 'green'})
        this.$router.push({name: 'initAccount'})
      })
      .catch(error=>{
        this.errorHandling(error)
      })
    },

    errorHandling(error){
      if (error.response) {
        this.loading = false
        this.$q.notify({message: error.response, color: 'orange'})
      } else if (error.request) {
        console.log(error.request);
        this.loading = false
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        console.log('Error', error.message);
        this.loading = false
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    eligibilityFnc(){
      let thedate = this.form.date_of_birth.split("/");
      console.log('thedate', thedate);
      var today = new Date();
      if (today.getFullYear() > thedate[0]) {
        let yeardiff = today.getFullYear() - thedate[0]
        console.log('yeardiff', yeardiff)
        if(yeardiff > 19){
          this.acctUpdate()
        }
        else if(yeardiff == 18){
          if(today.getMonth()+1 > thedate[1]){
            this.acctUpdate()
          }
          else if(today.getMonth()+1 == thedate[1]){
            if(today.getDate() >= thedate[2]){
              this.acctUpdate()
            }else{
              this.error = true
            }
          }else{
            this.error = true
          }
        }
        else{
          this.error = true
        }
      }else{
        this.error = true
      }
    }
  },
  computed:{
    thestate(){ return this.$store.getters["Auth/states"] },
  },
  beforeRouteEnter (to, from, next) {
    if (from.name == 'login') next()
    else next(false)
  }
}
</script>
