<template>
  <div class="column flex-center">
    <div class="row q-gutter-sm justify-center q-pb-md q-mb-md">

      <q-card v-for="(item, index) in myplans" :key="index" bordered flat class="column flex-center " style="min-width: 300px">
        <q-card-section>
          <div class="h3 text-center">Welcome Agent</div>
          <div class="text-h6 text-center text-capitalize">
            {{item.plan}} Subscription
          </div>
          <div class="text-h4 text-center text-bold">
            ‎₦{{item.amount}}
          </div>
        </q-card-section>
        <q-card-section >
          <div v-for="(val, index) in item.discription" :key="index" class="row">
            <q-icon class="q-px-sm text-green" name="ion-checkmark" />
            <div class="text-caption" style="max-width: 240px">{{val}}</div>
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn no-caps :loading="loading" color="secondary" label="Subscribe" @click="acctUpdate({ plan:item.plan })" />
        </q-card-actions>
      </q-card>
    </div>



  <q-list  class="q-py-md">
    <q-item class="bg-primary text-white text-center" dense clickable tag="a" :href="'mailto:hello@branchless.io?subject=Branchless%20Customer%20Support%200'+user.phone+'%20'+agent_email" target="__blank">
      <q-item-section>
        <q-item-label>App Support</q-item-label>
      </q-item-section>
    </q-item>
    <q-item >
      <q-item-section>
        <q-item-label caption>*If you refer upto 100 Agents</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>

    <div>
      <!-- <q-dialog v-model="alert">
        <PINtx :theref="myref" :fnc="fnc" :bnkData="form" />
      </q-dialog> -->

      <q-dialog v-model="confirm">
        <q-card style="max-width: 350px; min-width: 300px">
          <q-card-section>
            <div class="text-h6 text-center">Make Payment</div>
          </q-card-section>
          <q-card-section class="">
            <div class="text-primary column flex-center">
              <div class="text-center text-caption wrap">
                {{Email}}
              </div>
            </div>
          </q-card-section>
        <q-card-actions vertical align="center">
          <q-btn color="primary" unelevated no-caps label="Copy Email" icon-right="ion-copy" @click="clipboard(Email)" />
          <q-btn v-if="goTo" class="" color="secondary" unelevated no-caps label="Make Payment" type="a" :href="link" target="__blank" />
        </q-card-actions>

        </q-card>
      </q-dialog>

      <div class="row flex-center absolute-bottom">
        <div class="text-caption text-grey">Powered by</div>
        <img src="statics/branchlessLogo.jpg" style="max-width: 100px">
      </div>
    </div>
  </div>

</template>

<script>
import PINtx from '../webApp/pinTX'
import { copyToClipboard } from 'quasar'
export default {
  // name: 'ComponentName',
  components:{PINtx},
  data () {
    return {
      loading: false,
      goTo: false,
      confirm: false,
      link:'',
      Email: '',
      myplans:[
        {
          plan: 'weekly',
          amount: '399',
          discription:[
            'N10 Transfer to all Banks',
            'N150 Income on Wallet Creation',
            'N350 Income on Pre-Paid Debit card',
          ],
        },
        {
          plan: 'yearly',
          amount: '9999',
          discription:[
            'FREE POS Terminal',
            'N10 Transfer to all Banks',
            'Up to N500,000 Business Loan',
            'N150 Income on Wallet Creation',
            'N350 Income on Pre-Paid Debit card',
            'N40,000/Month* for Agents you refer'
          ],
        },
      ],

    }
  },
  methods:{
    async acctUpdate(data){
      this.loading = true
      this.$axios.post('https://branchless.world/user/initSub', data)
      .then(response => {
        console.log('response: ', response.data)
        this.loading = false
        this.$q.notify({message: 'Subscription paid', color: 'green'})
        let dRes = response.data.data
        this.goTo = false
        this.confirm = true
        this.link = dRes.link
        this.Email = dRes.email
        console.log(dRes)
      })
      .catch(error=>{
        if (error.response) {
          this.loading = false
          this.$q.notify({message: error.response, color: 'orange'})
        } else if (error.request) {
          this.loading = false
          console.log(error.request);
          this.$q.notify({message: error.request, color: 'orange'})
        } else {
          this.loading = false
          console.log('Error', error.message);
          this.$q.notify({message: error.message, color: 'orange'})
        }
      })
    },
// confirm
    // errorHandling(error){
    //   if (error.response) {
    //     this.loading = false
    //     this.$q.notify({message: error.response, color: 'orange'})
    //   } else if (error.request) {
    //     console.log(error.request);
    //     this.loading = false
    //     this.$q.notify({message: error.request, color: 'orange'})
    //   } else {
    //     console.log('Error', error.message);
    //     this.loading = false
    //     this.$q.notify({message: error.message, color: 'orange'})
    //   }
    // },

    clipboard(link){
      copyToClipboard(link)
      .then((response) => {
        this.goTo = true
        this.$q.notify({message: 'Funds Wallet Link Copied', color: 'green'})

      })
      .catch((err) => {
        console.log(err)
      })
    }

  },
  computed: {
    user: function() { return this.$store.getters["Auth/users"]; },
    agent_email: function() { return this.$store.getters["Auth/agent_email"]; },
  },
}
</script>
