<template>
  <div >
    <q-card flat style="max-width: 350px" class="">
      <div class="column flex-center">
        <q-btn to="/" flat dense stack no-caps>
          <img src="statics/branchlessLogo.jpg" style="max-width: 300px">
          <div class="absolute-bottom text-weight-light q-mb-lg text-caption">
            ...simply save
          </div>
        </q-btn>
      </div>
      <q-card-section>
        <q-card v-if="error" class="bg-red text-white row">
          <q-card-section class="">
            <div class="text-caption text-center">Enter your phone Number</div>
          </q-card-section>
        </q-card>
      </q-card-section>
      <!-- <q-card-section v-if="resender == 'no'" class="text-center text-h2 text-grey-5">
        {{timer}}
      </q-card-section> -->
      <q-card-section v-if="resender != ''"  class="text-center text-grey text-bold">
        Please dial *347*56*2# on {{form.phone}} to Reset PIN
      </q-card-section>
      <!-- <div v-if="resender != ''" class="text-grey text-caption text-center"></div> -->
       <q-card-section v-if="resender == 'stop'" class="text-center text-caption text-primary">
         <q-card class="bg-secondary text-white cursor-pointer" @click="thelink()">
          <q-card-section class="">
            <div class="text-caption text-bold">If you do not receive an PIN after 60 Sec,  tap here to Chat with a Customers' Service Representative</div>
          </q-card-section>
        </q-card>
      </q-card-section>
      <q-card-section class="q-gutter-sm">
        <q-input outlined dense  rounded v-model="form.phone" label="Enter Phone Number" maxlength="11" inputmode="numeric" pattern="[0-9]*" oninput="value=value.replace(/[^\d]/g,'')">
          <template v-slot:prepend >
            <div class="text-green row flex-center">
              <q-icon name="ion-call" />
              <div class="q-px-sm">|</div>
            </div>
          </template>
        </q-input>
      </q-card-section>
      <q-card-section class="q-gutter-xs">
        <q-btn :loading="loading" v-if="resender == ''" rounded color="primary" no-caps label="Reset PIN" class="full-width" @click="forgot()" />
        <!-- <q-btn v-if="resender == 'yes'" rounded no-caps color="orange" label="Resend PIN" class="full-width" @click="resend()" /> -->
        <q-btn v-if="resender != ''" rounded no-caps class="q-px-md full-width" color="primary"  text-color="white" label="Continue" @click="$router.push({name: 'login'})" />
      </q-card-section>
      <q-card-actions align="center" class="text-grey">
        <q-btn  no-caps flat :to="{name : 'login'}" label="Login" />
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      loading: false,
      error: false,
      resender: '',
      url:'https://wa.me/message/Q5GUG4AL4ZVXA1',
      timer: 60,
      form:{
        phone: '',
      }
    }
  },

  methods: {
    async forgot(){
      if(this.form.phone != '' && this.form.phone.length == 11){
        this.error = false
        this.loading = true
        this.thecounter()
        try {
          const response = await this.$axios.post('https://branchless.world/user/forgotPin', this.form)
          const req = response
          const dData = req.data.data
          this.loading = false
          this.$q.notify({message: 'New PIN Sent', color: 'green'})
          console.log(dData)
        }
        catch (error) {
          this.errorHandling(error)
        }
      }else {
        this.error = true
      }
    },

    thelink(){
      window.open(this.url, '_blank')
    },

    async resend(){
      // this.resender = 'stop'
      this.loading = true
      this.$axios.post('https://branchless.world/user/retryForgotPin', this.form)
      .then(response => {
        this.loading = false
        this.timer = 60
        this.thecounter('stop')
        this.$q.notify({message: 'PIN Resent', color: 'green'})
      })
      .catch(error=>{
        this.errorHandling(error)
      })
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        this.loading = false
        this.$q.notify({message: error.response, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.loading = false
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.loading = false
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    thecounter(pop){
      this.resender = 'no'
      let timer = setInterval(() => {
        if(this.timer != 0){
          this.timer--
        }else {
          clearInterval(timer);
          (pop == 'stop')?this.resender = pop :this.resender = 'yes'
        }

      }, 1000);

    },
  },
}
</script>
