<template>
  <div >
      <!-- {{thedata}} <br /><br />
      {{thedata.config.data}} -->
    <q-card flat >
      <div class="column flex-center">
        <q-btn to="/" flat dense stack no-caps>
          <img src="statics/branchlessLogo.jpg" style="max-width: 300px">
          <div class="absolute-bottom text-weight-light q-mb-lg text-caption">
            ...simply save
          </div>
        </q-btn>
      </div>


      <q-card-section class="q-gutter-sm">
        <q-input outlined dense rounded v-model="form.phone" label="Enter Phone Number" maxlength="11" inputmode="numeric" pattern="[0-9]*" oninput="value=value.replace(/[^\d]/g,'')">
          <template v-slot:prepend>
            <div class="text-green row flex-center">
              <q-icon name="ion-call" />
              <div class="q-px-sm">|</div>
            </div>
          </template>
        </q-input>
        <q-input outlined type="password" dense rounded v-model="form.pin" label="Enter Your PIN" maxlength="6" inputmode="numeric" pattern="[0-9]*" oninput="value=value.replace(/[^\d]/g,'')" >
          <template v-slot:prepend>
            <q-icon name="ion-unlock" />
            <div class="q-px-sm">|</div>
          </template>
        </q-input>

      </q-card-section>
      <q-card-actions align="center" class="text-secondary">
        <q-btn no-caps flat :to="{name : 'register'}" label="SignUp for an Account" />
      </q-card-actions>
      <q-card-section>
        <!-- <q-btn rounded color="primary" :to="{name : 'agentsub'}" no-caps label="agentsub" class="full-width" @click="login()" /> -->
        <q-btn :loading="loading" rounded color="primary" no-caps label="Login" class="full-width" @click="login()" />
      </q-card-section>
      <q-card-actions align="center" class="text-secondary">
        <q-btn  no-caps flat :to="{name : 'forgot'}" label="Forgot PIN?"  />
      </q-card-actions>
    </q-card>

    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">You are about to Logout, are you sure?</div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>


  </div>
</template>

<script>


export default {
  // name: 'ComponentName',
  data () {
    return {
      thedata:null,
      alert:false,
      loading:false,
      form:{
        phone: '',
        pin: '',
        version:"2.0"
      }
    }
  },

  mounted(){
    this.$store.commit('Auth/logout')
    // console.log(this.$router)
  },


  methods: {
    async login(){
      this.loading = true
      this.$axios.post('https://branchless.world/user/login', this.form)
      .then(response => {
        console.log('response: ', response.data.data)
        // this.thedata = response;
        this.$q.localStorage.set('branchless_token', response.data.token)
        this.$q.localStorage.set('branchless_is_agent', response.data.data.agent)
        this.$q.localStorage.set('branchless_is_subscribed', response.data.data.subscribed)

        this.$axios.defaults.headers.common["Authorization"] = response.data.token
        this.loading = false
        this.$q.notify({message: 'Login successful', color: 'green'})
        this.$store.commit('Auth/login', response.data.token)
        this.$store.commit('Auth/is_agent', response.data.data.agent)
        this.$store.commit('Auth/agent_email', response.data.data.email)
        this.$store.commit('Auth/is_subscribed', response.data.data.subscribed)

        if(response.data.status == 'active' ) {
          this.$q.localStorage.set('branchless_sub_status', true)
          this.$store.commit('Auth/sub_status', true)
        }else this.$q.localStorage.set('branchless_sub_status', false)


        this.getUser(response.data)
      })
      .catch(error=>{
        if (error.response) {
          this.loading = false
          this.$q.notify({message: error.response.data.message, color: 'orange'})
          if(error.response.data.message == 'unverified'){
            this.$router.push('otp/'+this.form.phone);
          }
        } else if (error.request) {
          this.loading = false
          console.log(error.request);
        } else {
          this.loading = false
          console.log('Error', error.message);
        }
      })
    },
// Yooo
    async getUser(Sub){
      try {

          const response = await this.$axios.get('https://branchless.world/user/userDetails')
          const req = response
          const dData = req.data.data
          if (!dData.name) {
             this.$router.push({name: 'account'})
          }else {
            this.$store.dispatch("Auth/thebanklist");
            this.$store.commit('Auth/user', dData)
            if(Sub.status == 'pending' ) this.$router.push({name: 'initAccount'})
            else{
              if (Sub.data.agent && !Sub.data.subscribed) {
                this.$router.push({name: 'agentsub'})
              }else this.$router.push({name: 'dashboard'});
            }
          }
          // this.$router.push({name: 'dashboard'});
      } catch (error) {
        this.errorHandling(error)
      }
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        this.loading = false
        this.$q.notify({message: error.response, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.loading = false
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.loading = false
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },
  },
}
</script>
