<template>
  <div>
    <q-item
      clickable
      @click="logout()"
    >
      <q-item-section
        avatar
      >
        <q-icon name="ion-power" />
      </q-item-section>
 
      <q-item-section>
        <q-item-label>LogOut</q-item-label>
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  },
  methods: {
    logout(){
      this.$router.push({name: 'login'})
    }
  },
}
</script>
