<template>
  <div >
    <q-card flat style="max-width: 350px">
      <!-- <q-card-section>
        <q-card v-if="error" class="bg-red text-white">
          <q-card-section class="">
            <div class="text-caption text-center">Enter your OTP Number</div>
          </q-card-section>
        </q-card>
      </q-card-section> -->

      <!-- <q-card-section v-if="resender == 'no'" class="text-center text-h2 text-grey-5">
        {{timer}}
      </q-card-section> -->
      <!-- <q-card-section v-if="resender == 'stop'" class="text-center text-caption text-primary">
        <q-card class="bg-secondary text-white cursor-pointer" @click="thelink()">
          <q-card-section class="">
            <div class="text-caption text-black">If you do not receive an OTP after 60 Sec,  tap here to Chat with a Customers' Service Representative</div>
          </q-card-section>
        </q-card>

      </q-card-section> -->

      <q-card-section class="q-gutter-sm">
        <!-- <div class="text-h5 text-bold">Enter OTP Code</div> -->
        <!-- <div class="text-grey">You will recieve OTP code within 60 seconds</div> -->
        <div class="text-grey text-bold text-center">Please dial *347*56*1# on {{$route.params.item}} to Verify your Account.</div>
        <!-- <q-input dense outlined v-model="form.otp" inputmode="numeric" pattern="[0-9]*" maxlength="6" oninput="value=value.replace(/[^\d]/g,'')"/> -->
        <div class="flex flex-center q-gutter-xs">
          <!-- <q-btn no-caps class="q-px-md" color="primary" text-color="white" label="Send" @click="confirmation()" /> -->
          <q-btn no-caps class="q-px-md" color="primary" text-color="white" label="Continue" @click="$router.push({name: 'login'})" />
          <!-- <q-btn v-if="resender == 'yes'" no-caps color="orange" label="Resend OTP" @click="resend()" /> -->
        </div>
      </q-card-section>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      resender: '',
      timer: 60,
      error: false,
      url:'https://wa.me/message/Q5GUG4AL4ZVXA1',
      form:{
        phone: '',
        otp: ''
      }
    }
  },

  mounted() {
    this.thecounter()
  },

  methods: {
    async confirmation(){
      if(this.form.otp != '' && this.form.otp.length == 6){
        this.error = false
        this.loading = true
        this.form.phone = this.$route.params.item
        let data = this.$axios.post('https://branchless.world/user/verify', this.form)
        .then(response => {
          // console.log(response.data.message)
          this.loading = false
          this.resender = 'no'
          this.$q.notify({message: response.data.message, color: 'green'})
          response.data.message == 'success' ? this.$router.push({name: 'login'}) : '';
        })
        .catch(error=>{
          this.errorHandling(error)
        })
      }else{
        this.error = true
      }
    },

    thelink(){
      window.open(this.url, '_blank')
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        this.loading = false
        this.$q.notify({message: error.response, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.loading = false
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.loading = false
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    async resend(){

      this.loading = true
      this.$axios.post('https://branchless.world/user/resendOtp', {phone: this.$route.params.item})
      .then(response => {
        this.loading = false
        this.timer = 60
        this.thecounter('stop')
        this.$q.notify({message: 'OTP Resent', color: 'green'})
      })
      .catch(error=>{
        this.errorHandling(error)
      })
    },

    thecounter(pop){
      this.resender = 'no'
      let timer = setInterval(() => {
        if(this.timer != 0){
          this.timer--
        }else {
          clearInterval(timer);
          (pop == 'stop')?this.resender = pop :this.resender = 'yes'
        }

      }, 1000);

    },

    // showResendBtn(){
    //   setInterval(() => {
    //     this.resender = true
    //   }, 60000);
    // },



  }
}
</script>
