<template>
  <div >
    <q-card flat bordered >

      <q-card-section class="q-gutter-sm">
       <q-input  disable dense rounded v-model="form.name" label="Recievers Name" maxlength="11" oninput="value=value.replace(/[^\d]/g,'')">
          <template v-slot:prepend>
            <div class="row flex-center">
              <q-icon name="ion-ios-person" />
              <div class="q-px-sm">|</div>
            </div>
          </template>
        </q-input>
        <q-input  disable dense rounded v-model="form.phone" label="Recievers Account" maxlength="11" oninput="value=value.replace(/[^\d]/g,'')">
          <template v-slot:prepend>
            <div class="row flex-center">
              <q-icon name="account_balance" />
              <div class="q-px-sm">|</div>
            </div>
          </template>
        </q-input>
        <q-input outlined type="text" dense  v-model="form.amount" label="Amount" oninput="value=value.replace(/[^\d]/g,'')" >
          <template v-slot:prepend>

            <q-icon color="green" name="ion-cash" />
            <div class="q-px-sm">|</div>
          </template>
        </q-input>

      </q-card-section>
      <q-card-section>
        <q-btn rounded color="primary" no-caps label="Send Money" class="full-width" @click="loadWallet()" />
      </q-card-section>

       <div class="row flex-center">
        <div class="text-caption text-grey">Powered by</div>
        <img src="statics/branchlessLogo.jpg" style="max-width: 100px">
      </div>
    </q-card>



  </div>
</template>

<script>


export default {
  // name: 'ComponentName',
  data () {
    return {
      thedata:null,
      alert:false,
      form:{
        phone: this.$route.params.item.slice(0, 11),
        name: this.$route.params.item.slice(11),
        amount:'',
      }
    }
  },

  mounted(){
    // this.addscript("https://js.onepipe.io/v1")
    this.addscript("https://checkout.flutterwave.com/v3.js")
  },

  methods: {

    async addscript(url){
      let scriptTag = document.createElement("script");
      scriptTag.setAttribute('src', url);
      scriptTag.async = true
      document.head.appendChild(scriptTag)
    },

    async loadWallet(){
      this.$axios.post('https://branchless.world/user/initPaymentLink', this.form)
       .then(response => {
          console.log(response.data.data);
          let data = response.data.data
          // this.OnePipePay(data.ref, data.phone, data.amount)
          this.makePayment(data.ref, data.phone, data.amount)
        })
      .catch(error=>{
        this.errorHandling(error)
      })
    },

    errorHandling(error){
      if (error.response) {
        // Request made and server responded
        console.log(error.response.data);
        console.log(error.response.status);
        console.log(error.response.headers);
        this.loading = false
        this.$q.notify({message: error.response.data, color: 'orange'})
      } else if (error.request) {
        // The request was made but no response was received
        console.log(error.request);
        this.loading = false
        this.$q.notify({message: error.request, color: 'orange'})
      } else {
        // Something happened in setting up the request that triggered an Error
        console.log('Error', error.message);
        this.loading = false
        this.$q.notify({message: error.message, color: 'orange'})
      }
    },

    makePayment(ref, phone, amount) {
      FlutterwaveCheckout({
        public_key: "FLWPUBK-1fc8e0db8d628b9b475af6b74b6937e8-X",
        tx_ref: ref,
        amount: amount,
        currency: "NGN",
        payment_options: "card, banktransfer, ussd",
        redirect_url: "https://app.branchless.io/register",
        customer: {
          email: '0'+phone+"@gmail.com",
          phone_number: '0'+phone,
          name: this.form.name,
        },
        callback: function (data) {
          console.log(data);
        },
        customizations: {
          title: "Branchless",
          description: "Bank transfer",
          logo: "https://bitbucket.org/Godfadatun/branchless_webapp/src/master/src/statics/branchlessLogo.jpg",
        },
      });
    }

  },

  // OnePipePay(ref, phone, amount) {

    //   var handler = OnePipePopup.setup({
    //     requestData: {
    //       request_ref: ref,
    //       request_type: "charge",
    //       api_key: "4Sk1hjCzRaVr41SerOWe_d461dd232b0d46f98588d96c2188843b", //API key from your console
    //       auth_provider: "RAVEPAY",
    //       transaction: {
    //         amount: amount * 100, // amount in kobo
    //         currency: "NGN",
    //         transaction_ref: ref, //generate a unique number
    //         transaction_desc: "Load wallet",
    //         customer: {
    //           customer_ref: phone, // phone number
    //           firstname: phone, // phone number
    //           surname: phone, // phone number
    //           email: phone+"@qmail.com", // phone number + @qmail.com
    //           mobile_no: phone, // phone number
    //         },
    //       },
    //     },
    //     callback: function (response) {
    //       //response.reference, response.status, response.message, response.paymentmethod
    //       console.log(response);
    //       alert(
    //         "Transaction status: " +
    //           response.status +
    //           ". Payment method: " +
    //           response.paymentmethod +
    //           ". Ref: " +
    //           response.reference +
    //           ". Message: " +
    //           response.message
    //       );
    //     },
    //     onClose: function () {
    //       alert("You cancelled the payment process");
    //     },
    //   });

    //   handler.execute();
    // }

}
</script>
