<template>
  <div >
    <q-card flat >
      <div class="column flex-center">
        <q-btn to="/" flat dense stack no-caps>
          <img src="statics/branchlessLogo.jpg" style="max-width: 250px">
          <div class="absolute-bottom text-weight-light q-mb-md text-caption">
            ...simply save
          </div>
        </q-btn>
      </div>

      <q-card-section class="q-gutter-sm">
        <div v-if="error" class="text-red">PIN Issues</div>
        <q-input outlined dense rounded v-model="form.phone" label="Enter Phone Number" maxlength="11" inputmode="numeric" pattern="[0-9]*" oninput="value=value.replace(/[^\d]/g,'')">
          <template v-slot:prepend >
            <div class="text-green row flex-center">
              <q-icon name="ion-call" />
              <div class="q-px-sm">|</div>
            </div>
          </template>
        </q-input>
        <q-input outlined dense rounded type="password" v-model="form.pin" label="Create Your 6 Digit PIN" maxlength="6" inputmode="numeric" pattern="[0-9]*" oninput="value=value.replace(/[^\d]/g,'')" >
          <template v-slot:prepend>
            <q-icon name="ion-lock" />
            <div class="q-px-sm">|</div>
          </template>
        </q-input>
        <q-input outlined dense rounded type="password" v-model="form.confirm_pin" label="Confirm PIN" maxlength="6" inputmode="numeric" pattern="[0-9]*" oninput="value=value.replace(/[^\d]/g,'')" >
          <template v-slot:prepend>
            <q-icon name="ion-unlock" />
            <div class="q-px-sm">|</div>
          </template>
        </q-input>
        <q-input outlined disable dense rounded v-model="form.referrer" label="Referral Phone Number" inputmode="numeric" pattern="[0-9]*" oninput="value=value.replace(/[^\d]/g,'')" >
          <template v-slot:prepend>
            <q-icon name="ion-ios-phone-portrait" />
            <div class="q-px-sm">|</div>
          </template>
        </q-input>
      </q-card-section>
      <q-card-section>
        <q-btn rounded color="primary" no-caps label="Sign Up" class="full-width" @click="signup()" />
      </q-card-section>
      <q-card-actions align="center" class="text-grey">
        <q-btn no-caps flat :to="{name : 'login'}" label="Already Have an Account? Login" />
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      error:false,
      form:{
        phone: '',
        pin: '',
        referrer: this.$route.params.item,
        confirm_pin: ''
      }
    }
  },

  methods: {
    async signup(){
      if (this.form.pin == this.form.confirm_pin) {
        this.loading = true
        this.error = false
       this.$axios.post('https://branchless.world/user/signup', this.form)
        .then(response => {
          console.log('response: ', response.data)
          this.thedata = response;
          this.loading = false
          this.$emit('registerphone', this.form.phone)
          this.$router.push({name: 'otp', params:{item: this.form.phone}});
        })
        .catch(error=>{
          // console.log('err: ', err.data)
          if(error.response.data.message == 'exist'){
            this.$q.notify({message: 'Phone Number already Exist' , color: 'red'})
          } else if (error.request) {
            // The request was made but no response was received
            console.log(error.request);
            this.loading = false
            this.$q.notify({message: error.request, color: 'orange'})
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
            this.loading = false
            this.$q.notify({message: error.message, color: 'orange'})
          }

        })
      }else{
        this.error = true
      }

    },

  },
}
</script>
