<template>
  <div>
    <Login v-if="theroute == 'login'" />
    <Register v-if="theroute == 'register'" />
    <Referrer v-if="theroute == 'referrer'" />
    <Forgot v-if="theroute == 'forgot'" />
    <OTP v-if="theroute == 'otp'"  />
    <Account v-if="theroute == 'account'"  />
    <Agent v-if="theroute == 'agentsub'"  />
    <Funds v-if="theroute == 'funds'" />
    <Init v-if="theroute == 'initAccount'" />
  </div>
</template>

<script>
import Login from 'components/auth/login'
import Register from 'components/auth/register'
import Referrer from 'components/auth/referrer'
import Forgot from 'components/auth/forgot'
import OTP from 'components/auth/Otp'
import Account from 'components/auth/account'
import Agent from 'components/auth/agentSub'
import Funds from 'components/auth/recieve_funds'
import Init from 'components/auth/initAccount'
export default {
  // name: 'ComponentName',
  components:{
    Login, Register, Forgot, OTP, Referrer, Account, Agent, Funds, Init
  },
  data () {
    return {}
  },
  computed: {
    theroute(){return this.$route.name}
  },
}
</script>
